section.post-video-showcase.promotion-detail.service-detail-showcase
  .post-video-showcase-comment    
    .box-title-1
      h4.text-uppercase.text-accent
        strong ĐÁNH GIÁ 
        span.text-grey ( 10 )
        
    ol.breadcrumb.breadcrumb-2.breadcrumb-heart.text-uppercase
      li(href='#') Đánh giá nhà cung cấp :
      li.text-grey(href='#')
        i.fa.fa-heart(aria-hidden='true')
        i.fa.fa-heart(aria-hidden='true')
        i.fa.fa-heart(aria-hidden='true')
        i.fa.fa-heart(aria-hidden='true')
        i.fa.fa-heart(aria-hidden='true')
    
    .post-video-showcase-comment-write
      .media
        .media-left
          a(href='#')
            img.avatar.media-object(src='assets/img/post-video/avatar/avatar_1.png', alt='...')
        |   
        .media-body
          form
            .form-group
              textarea.form-control(type="text" placeholder="Viết đánh giá...")
          a.btn.btn-accent.text-uppercase(href="#") Đăng nhận xét
          
    .margin-box-3      
    hr
    .post-video-showcase-comment-detail
      .media
        .media-left
          a(href='#')
            img.avatar.media-object(src='assets/img/post-video/avatar/avatar_2.png', alt='...')
        |   
        .media-body
          h4.text-uppercase
            strong Huỳnh Minh Trung
            span.rate 
              i.fa.fa-heart.text-accent(aria-hidden='true')
              i.fa.fa-heart.text-accent(aria-hidden='true')
              i.fa.fa-heart.text-accent(aria-hidden='true')
              i.fa.fa-heart.text-grey(aria-hidden='true')
              i.fa.fa-heart.text-grey(aria-hidden='true')
              
          p.post-video-showcase-comment-detail-date
            strong.text-accent 2 
              i.fa.fa-heart(aria-hidden='true')
            span.line-divine |
            span.detail-year 06.08.2017
            span.detail-time 15:45
          p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
          ol.breadcrumb.breadcrumb-3
            li
              a(href='#') Thích
            li
              a(href='#') Phản hồi
              
          .media
            .media-left
              a(href='#')
                img.avatar.media-object(src='assets/img/post-video/avatar/avatar_3.png', alt='...')
            
            .margin-box-1.visible-xs  
            .clearfix.visible-xs
            .media-body
              h4.text-uppercase
                strong NGUYỄN HẠNH NGUYÊN
                span.rate 
                  i.fa.fa-heart.text-accent(aria-hidden='true')
                  i.fa.fa-heart.text-accent(aria-hidden='true')
                  i.fa.fa-heart.text-accent(aria-hidden='true')
                  i.fa.fa-heart.text-grey(aria-hidden='true')
                  i.fa.fa-heart.text-grey(aria-hidden='true')
              p.post-video-showcase-comment-detail-date
                strong.text-accent 2 
                  i.fa.fa-heart(aria-hidden='true')
                span.line-divine |
                span.detail-year 06.08.2017
                span.detail-time 15:45
              p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
              ol.breadcrumb.breadcrumb-3
                li
                  a(href='#') Thích
                li
                  a(href='#') Phản hồi
                  
      .media
        .media-left
          a(href='#')
            img.avatar.media-object(src='assets/img/post-video/avatar/avatar_4.png', alt='...')
        |   
        .media-body
          h4.text-uppercase
            strong TRẦN TIẾT THỊNH
            span.rate 
              i.fa.fa-heart.text-accent(aria-hidden='true')
              i.fa.fa-heart.text-accent(aria-hidden='true')
              i.fa.fa-heart.text-accent(aria-hidden='true')
              i.fa.fa-heart.text-grey(aria-hidden='true')
              i.fa.fa-heart.text-grey(aria-hidden='true')
          p.post-video-showcase-comment-detail-date
            strong.text-accent 2 
              i.fa.fa-heart(aria-hidden='true')
            span.line-divine |
            span.detail-year 06.08.2017
            span.detail-time 15:45
          p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
          ol.breadcrumb.breadcrumb-3
            li
              a(href='#') Thích
            li
              a(href='#') Phản hồi
              
        .media
          .media-left
            a(href='#')
              img.avatar.media-object(src='assets/img/post-video/avatar/avatar_5.png', alt='...')
          |   
          .media-body
            h4.text-uppercase
              strong PHẠM THÔNG
              span.rate 
                i.fa.fa-heart.text-accent(aria-hidden='true')
                i.fa.fa-heart.text-accent(aria-hidden='true')
                i.fa.fa-heart.text-accent(aria-hidden='true')
                i.fa.fa-heart.text-grey(aria-hidden='true')
                i.fa.fa-heart.text-grey(aria-hidden='true')
            p.post-video-showcase-comment-detail-date
              strong.text-accent 2 
                i.fa.fa-heart(aria-hidden='true')
              span.line-divine |
              span.detail-year 06.08.2017
              span.detail-time 15:45
            p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
            ol.breadcrumb.breadcrumb-3
              li
                a(href='#') Thích
              li
                a(href='#') Phản hồi
              

  a.text-uppercase.btn.btn-grey.btn-block.btn-more(href="#") Xem Thêm
            

          
 
