.breadcrumb-wrap
  .container
    ol.breadcrumb.breadcrumb-1.text-uppercase
      li
        a(href='#') Trang chủ
      |   
      li
        a(href='#') Dịch vụ cưới
      li.active
        a(href='#') MỘC THANH STUDIO
    
