header.header#header
  section.header-info
    .wrap-header-info
      .container
        .row
          .col-xs-12.col-sm-5.col-md-6
            p LIÊN HỆ QUẢNG CÁO : 0906034322 - 2145439229
          .col-xs-12.col-sm-7.col-md-6.pull-right.text-right
            ul.header-info-navbar.text-uppercase.list-unstyled
              li: a(href="#") Đăng ký nhà cung cấp
              li: a(href="#") Đăng ký
              li: a(href="account.html") Đăng nhập
              li.search-btn: a
                i.fa.fa-search.search-icon-nav(aria-hidden='true')
                input.form-control.search-btn-input(type="text")
              
  section.header-navbar
    .wrap-header-navbar
      .container
        .row
          .col-md-5
            nav#menu
              ul.header-navbar-left.list-unstyled.text-uppercase
                li: a(href="index.html") Trang Chủ
                li: a(href="service.html") DỊCH VỤ
                  ul.header-navbar-left-sub.list-unstyled
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/home/service/nhahangtieccuoi.svg", alt="")
                      | Nhà hàng tiệc cưới
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/home/service/studio.svg", alt="")
                      | Studio
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/home/service/nhancuoi.svg", alt="")
                      | Trang sức cưới
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/home/service/thiepcuoi.svg", alt="")
                      | Thiệp cưới
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/home/service/weddingplanner.svg", alt="")
                      | Wedding planner
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/home/service/trangmat.svg", alt="")
                      | Trăng mật
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/home/service/quacuoi.svg", alt="")
                      | Quà cưới
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/home/service/hoacuoi.svg", alt="")
                      | Hoa cưới
                li: a(href="promotion.html") KHUYẾN MÃI
                li: a(href="video.html") VIDEO 
                li: a.hidden-md.hidden-lg(href="post-list1.html") Ý Tưởng Cưới
                  ul.header-navbar-left-sub.list-unstyled
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/cauhon.svg", alt="")
                      | Cầu hôn
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/diadiemcuoi.svg", alt="")
                      | Địa điểm cưới
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/ngansach.svg", alt="")
                      | Ngân sách
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/chuphinh.svg", alt="")
                      | Chụp hình cưới
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/nghithuc.svg", alt="")
                      | Nghi thức
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/toccuoi.svg", alt="")
                      | Tóc cưới
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/trangtri.svg", alt="")
                      | Trang trí
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/trangmat.svg", alt="")
                      | Trăng mật
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/xuhuongcuoi.svg", alt="")
                      | Xu hướng cưới
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/Iconytuongcuoi/quacuoi.svg", alt="")
                      | Quà cưới cảm ơn
                li: a.hidden-md.hidden-lg(href="collection.html") BỘ SƯU TẬP
                  ul.header-navbar-left-sub.list-unstyled
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/nhancuoi-bosuutap.svg", alt="")
                      | Nhẫn cưới
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/phukiencuoi.svg", alt="")
                      | Phụ kiện cưới
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/icon/ao vest.svg", alt="")
                      | Áo vest
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/aodai2.svg", alt="")
                      | Áo dài cưới
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/vaychua.svg", alt="")
                      | Váy chữ A
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/icon/vayxoe.svg", alt="")
                      | Váy xòe
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/vaycupnguc.svg", alt="")
                      | Váy cúp ngực
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/vayduoica.svg", alt="")
                      | Váy đuôi cá
                    li: a(href="index.html")
                      img.icon-nav(src="assets/img/icon/lechvai.svg", alt="")
                      | Váy lệch vai
                    li: a(href="service.html")
                      img.icon-nav(src="assets/img/icon/vayngan.svg", alt="")
                      | Váy ngắn
                    li: a(href="promotion.html")
                      img.icon-nav(src="assets/img/icon/vayphudau.svg", alt="")
                      | Váy phụ dâu
                li: a.hidden-md.hidden-lg(href="#") KÊNH QUÀ TẶNG
          .col-md-2.hidden-sm.hidden-xs
            .header-navbar-brand
              a.header-navbar-brand-btn(href="#")
                img.logo(src="assets/img/home/base_logo_2.svg", alt="")
                img.small-logo(src="assets/img/home/logo.png", alt="")
          .col-md-5
            ul.header-navbar-left.list-unstyled.text-uppercase
              li.hidden-xs.hidden-sm: a(href="post-list1.html") Ý Tưởng Cưới
                ul.header-navbar-left-sub.list-unstyled
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/cauhon.svg", alt="")
                    | Cầu hôn
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/diadiemcuoi.svg", alt="")
                    | Địa điểm cưới
                  li: a(href="index.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/ngansach.svg", alt="")
                    | Ngân sách
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/chuphinh.svg", alt="")
                    | Chụp hình cưới
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/nghithuc.svg", alt="")
                    | Nghi thức
                  li: a(href="index.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/toccuoi.svg", alt="")
                    | Tóc cưới
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/trangtri.svg", alt="")
                    | Trang trí
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/trangmat.svg", alt="")
                    | Trăng mật
                  li: a(href="index.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/xuhuongcuoi.svg", alt="")
                    | Xu hướng cưới
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/Iconytuongcuoi/quacuoi.svg", alt="")
                    | Quà cưới cảm ơn
              li.hidden-xs.hidden-sm: a(href="collection.html") BỘ SƯU TẬP
                ul.header-navbar-left-sub.list-unstyled
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/nhancuoi-bosuutap.svg", alt="")
                    | Nhẫn cưới
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/phukiencuoi.svg", alt="")
                    | Phụ kiện cưới
                  li: a(href="index.html")
                    img.icon-nav(src="assets/img/icon/ao vest.svg", alt="")
                    | Áo vest
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/aodai2.svg", alt="")
                    | Áo dài cưới
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/vaychua.svg", alt="")
                    | Váy chữ A
                  li: a(href="index.html")
                    img.icon-nav(src="assets/img/icon/vayxoe.svg", alt="")
                    | Váy xòe
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/vaycupnguc.svg", alt="")
                    | Váy cúp ngực
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/vayduoica.svg", alt="")
                    | Váy đuôi cá
                  li: a(href="index.html")
                    img.icon-nav(src="assets/img/icon/lechvai.svg", alt="")
                    | Váy lệch vai
                  li: a(href="service.html")
                    img.icon-nav(src="assets/img/icon/vayngan.svg", alt="")
                    | Váy ngắn
                  li: a(href="promotion.html")
                    img.icon-nav(src="assets/img/icon/vayphudau.svg", alt="")
                    | Váy phụ dâu
              li.hidden-xs.hidden-sm: a(href="#") Cộng đồng
                ul.header-navbar-left-sub.list-unstyled.text-uppercase
                  li: a(href="share.html") Góc chia sẻ
                  li: a(href="beauty-pic.html") Ảnh cưới đẹp
                  
              li.hidden-md.hidden-lg
                button#mm-open-menu.hamburger.hamburger--collapse.mm-slideout(type='button')
                  span.hamburger-box
                    span.hamburger-inner
