section.postlist-nav.postlist-nav-1
  .box-title-1
    h4.text-uppercase.text-accent
      strong DANH MỤC
      
  nav
    ul.postlist-nav-navbar.list-unstyled.text-uppercase
      li: a(href="#") 
          i.icon.icon-xuhuongcuoi
          span TẤT CẢ
        
      li: a(href="#") 
          i.icon.icon-nhahangtieccuoi
          span NHÀ HÀNG TIỆC CƯỚI
        
      li: a(href="#") 
        i.icon.icon-studio
        | STUDIO
        
      li: a(href="#") 
        i.icon.icon-nhancuoi-bosuutap
        | TRANG SỨC CƯỚI
        
      li: a(href="#") 
        i.icon.icon-thiepcuoi
        | THIỆP CƯỚI
        
      li: a(href="#") 
        i.icon.icon-weddingplanner
        | WEDDING PLANNER
        
      li: a(href="#") 
        i.icon.icon-trangmat
        | TRĂNG MẬT
        
      li: a(href="#") 
        i.icon.icon-quacuoi
        | QUÀ CƯỚI
        
      li: a(href="#")
        i.icon.icon-hoacuoi
        | HOA CƯỚI
