{
  "name": "Template",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/css/main.scss",
      "imports": [
        "assets/css/0-tools/bootstrap/assets/stylesheets/_bootstrap.scss",
        "assets/css/0-tools/bootstrap-select/bootstrap-select.scss",
        "assets/css/0-tools/font-awesome/css/font-awesome.min.css",
        "assets/css/0-tools/animate.css",
        "assets/css/0-tools/amlich/jquery.amlich.css",
        "assets/css/0-tools/owl-carousel/owl.carousel.scss",
        "assets/css/0-tools/owl-carousel/owl.theme.default.scss",
        "assets/css/0-tools/hamburgers/hamburgers.scss",
        "assets/css/0-tools/mmenu/jquery.mmenu.bootstrap.css",
        "assets/css/1-base/_vars.scss",
        "assets/css/1-base/_mixin.scss",
        "assets/css/1-base/_global.scss",
        "assets/css/2-modules/_button.scss",
        "assets/css/2-modules/_navbar.scss",
        "assets/css/2-modules/_breadcrumb.scss",
        "assets/css/2-modules/_pagination.scss",
        "assets/css/2-modules/_modal.scss",
        "assets/css/2-modules/_postlist-navbar.scss",
        "assets/css/3-layout/_showcase-global.scss",
        "assets/css/3-layout/_carousel-global.scss",
        "assets/css/3-layout/home/_header.scss",
        "assets/css/3-layout/home/_home-carousel.scss",
        "assets/css/3-layout/home/_home-search.scss",
        "assets/css/3-layout/home/_home-ads.scss",
        "assets/css/3-layout/home/_home-showcase.scss",
        "assets/css/3-layout/home/_home-sidebar.scss",
        "assets/css/3-layout/home/_home-service.scss",
        "assets/css/3-layout/home/_home-promotion.scss",
        "assets/css/3-layout/home/_home-idea.scss",
        "assets/css/3-layout/home/_home-video.scss",
        "assets/css/3-layout/home/_home-gallery.scss",
        "assets/css/3-layout/home/_home-sale.scss",
        "assets/css/3-layout/home/_home-subscribe.scss",
        "assets/css/3-layout/home/_home-popular.scss",
        "assets/css/3-layout/home/_home-footer.scss",
        "assets/css/3-layout/promotion/_promotion-showcase.scss",
        "assets/css/3-layout/video/_video-showcase.scss",
        "assets/css/3-layout/post-video/post-video-showcase.scss",
        "assets/css/3-layout/promotion-detail/_promotion-detail-showcase.scss",
        "assets/css/3-layout/promotion-detail/_promotion-detail-header.scss",
        "assets/css/3-layout/service/_service-showcase.scss",
        "assets/css/3-layout/service-detail/_service-detail-primary.scss",
        "assets/css/3-layout/share/_share-showcase.scss",
        "assets/css/3-layout/idea-detail/_idea-detail-showcase.scss",
        "assets/css/3-layout/collection-detail/_collection-detail-showcase.scss",
        "assets/css/3-layout/register/_register.scss",
        "assets/css/3-layout/register-ncc/_register-ncc-showcase.scss",
        "assets/css/3-layout/account/_account.scss",
        "assets/css/3-layout/account/_account-main-content.scss",
        "assets/css/3-layout/account/_account-main-album.scss",
        "assets/css/3-layout/account-album/_account-album.scss",
        "assets/css/3-layout/account-promotion/_account-promotion-main.scss",
        "assets/css/3-layout/account-manage-album/_account-manage-album.scss",
        "assets/css/3-layout/account-price-list/_account-price-list.scss",
        "assets/css/3-layout/account-info/_account-info.scss",
        "assets/css/4-responsive/home/_header.scss",
        "assets/css/4-responsive/home/_home-carousel.scss",
        "assets/css/4-responsive/home/_home-service.scss",
        "assets/css/4-responsive/home/_home-search.scss",
        "assets/css/4-responsive/home/_home-showcase.scss",
        "assets/css/4-responsive/home/_home-video.scss",
        "assets/css/4-responsive/home/_home-subscribe.scss",
        "assets/css/4-responsive/home/_home-footer.scss",
        "assets/css/4-responsive/post-video/_post-video.scss",
        "assets/css/4-responsive/service-detail/_service-detail.scss",
        "assets/css/4-responsive/collection-detail/_collection-detail.scss",
        "assets/css/4-responsive/promotion-detail/_promotion-detail.scss",
        "assets/css/4-responsive/_post-nav.scss",
        "assets/css/4-responsive/account/_account.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_variables.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_mixins.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_normalize.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_print.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_glyphicons.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_scaffolding.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_type.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_code.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_grid.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_tables.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_forms.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_buttons.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_component-animations.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_dropdowns.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_button-groups.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_input-groups.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_navs.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_navbar.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_breadcrumbs.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_pagination.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_pager.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_labels.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_badges.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_jumbotron.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_thumbnails.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_alerts.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_progress-bars.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_media.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_list-group.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_panels.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_responsive-embed.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_wells.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_close.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_modals.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_tooltip.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_popovers.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_carousel.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_utilities.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/_responsive-utilities.scss",
        "assets/css/0-tools/bootstrap-select/variables.scss",
        "assets/css/0-tools/owl-carousel/_core.scss",
        "assets/css/0-tools/owl-carousel/_animate.scss",
        "assets/css/0-tools/owl-carousel/_autoheight.scss",
        "assets/css/0-tools/owl-carousel/_lazyload.scss",
        "assets/css/0-tools/owl-carousel/_video.scss",
        "assets/css/0-tools/owl-carousel/_theme.default.scss",
        "assets/css/0-tools/hamburgers/_base.scss",
        "assets/css/0-tools/hamburgers/types/_3dx.scss",
        "assets/css/0-tools/hamburgers/types/_3dx-r.scss",
        "assets/css/0-tools/hamburgers/types/_3dy.scss",
        "assets/css/0-tools/hamburgers/types/_3dy-r.scss",
        "assets/css/0-tools/hamburgers/types/_3dxy.scss",
        "assets/css/0-tools/hamburgers/types/_3dxy-r.scss",
        "assets/css/0-tools/hamburgers/types/_arrow.scss",
        "assets/css/0-tools/hamburgers/types/_arrow-r.scss",
        "assets/css/0-tools/hamburgers/types/_arrowalt.scss",
        "assets/css/0-tools/hamburgers/types/_arrowalt-r.scss",
        "assets/css/0-tools/hamburgers/types/_arrowturn.scss",
        "assets/css/0-tools/hamburgers/types/_arrowturn-r.scss",
        "assets/css/0-tools/hamburgers/types/_boring.scss",
        "assets/css/0-tools/hamburgers/types/_collapse.scss",
        "assets/css/0-tools/hamburgers/types/_collapse-r.scss",
        "assets/css/0-tools/hamburgers/types/_elastic.scss",
        "assets/css/0-tools/hamburgers/types/_elastic-r.scss",
        "assets/css/0-tools/hamburgers/types/_emphatic.scss",
        "assets/css/0-tools/hamburgers/types/_emphatic-r.scss",
        "assets/css/0-tools/hamburgers/types/_minus.scss",
        "assets/css/0-tools/hamburgers/types/_slider.scss",
        "assets/css/0-tools/hamburgers/types/_slider-r.scss",
        "assets/css/0-tools/hamburgers/types/_spin.scss",
        "assets/css/0-tools/hamburgers/types/_spin-r.scss",
        "assets/css/0-tools/hamburgers/types/_spring.scss",
        "assets/css/0-tools/hamburgers/types/_spring-r.scss",
        "assets/css/0-tools/hamburgers/types/_stand.scss",
        "assets/css/0-tools/hamburgers/types/_stand-r.scss",
        "assets/css/0-tools/hamburgers/types/_squeeze.scss",
        "assets/css/0-tools/hamburgers/types/_vortex.scss",
        "assets/css/0-tools/hamburgers/types/_vortex-r.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_hide-text.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_opacity.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_image.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_labels.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_reset-filter.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_resize.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_responsive-visibility.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_size.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_tab-focus.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_reset-text.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_text-overflow.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_alerts.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_buttons.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_panels.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_pagination.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_list-group.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_nav-divider.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_forms.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_progress-bar.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_table-row.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_background-variant.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_border-radius.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_gradients.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_center-block.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_grid-framework.scss",
        "assets/css/0-tools/bootstrap/assets/stylesheets/bootstrap/mixins/_grid.scss",
        "assets/css/0-tools/owl-carousel/_theme.scss"
      ]
    },
    {
      "path": "index.jade",
      "imports": [
        "jadefiles/home/header.jade",
        "jadefiles/home/home-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/home/home-ads.jade",
        "jadefiles/home/home-showcase.jade",
        "jadefiles/home/home-service.jade",
        "jadefiles/home/home-promotion.jade",
        "jadefiles/home/home-collection.jade",
        "jadefiles/home/home-idea.jade",
        "jadefiles/home/home-video.jade",
        "jadefiles/home/home-gallery.jade",
        "jadefiles/home/home-sidebar.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "post-list1.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/carousel-global.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/breadcrumb.jade",
        "jadefiles/showcase-global.jade",
        "jadefiles/postlist-nav.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "collection.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/collection/collection-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/collection/collection-breadcrumb.jade",
        "jadefiles/collection/collection-showcase.jade",
        "jadefiles/postlist-nav.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "promotion.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/promotion/promotion-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/promotion/promotion-breadcrumb.jade",
        "jadefiles/promotion/promotion-showcase.jade",
        "jadefiles/postlist-nav.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "video.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/video/video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/video/video-breadcrumb.jade",
        "jadefiles/video/video-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "post-video.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/post-video/post-video-breadcrumb.jade",
        "jadefiles/post-video/post-video-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "promotion-detail.jade",
      "imports": [
        "jadefiles/promotion-detail/promotion-detail-header.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/promotion-detail/promotion-detail-breadcrumb.jade",
        "jadefiles/promotion-detail/promotion-detail-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "service.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/service/service-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/service/service-breadcrumb.jade",
        "jadefiles/service/service-showcase.jade",
        "jadefiles/postlist-nav.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "service-detail.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/service-detail/service-detail-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/service-detail/service-detail-breadcrumb.jade",
        "jadefiles/service-detail/service-detail-primary.jade",
        "jadefiles/service-detail/service-detail-showcase.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "share.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/share/share-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/share/share-breadcrumb.jade",
        "jadefiles/share/share-showcase.jade",
        "jadefiles/postlist-nav.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "idea-detail.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/idea-detail/idea-detail-breadcrumb.jade",
        "jadefiles/idea-detail/idea-detail-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "collection-detail.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/collection-detail/collection-detail-breadcrumb.jade",
        "jadefiles/collection-detail/collection-detail-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "beauty-pic.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/beauty-pic/beauty-pic-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/beauty-pic/beauty-pic-breadcrumb.jade",
        "jadefiles/beauty-pic/beauty-pic-showcase.jade",
        "jadefiles/postlist-nav.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "beauty-pic-detail.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/beauty-pic-detail/beauty-pic-detail-breadcrumb.jade",
        "jadefiles/beauty-pic-detail/beauty-pic-detail-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "beauty-pic-NCC.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/beauty-pic-detail/beauty-pic-detail-breadcrumb.jade",
        "jadefiles/beauty-pic-ncc/beauty-pic-ncc-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "beauty-pic-ncc.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/beauty-pic-detail/beauty-pic-detail-breadcrumb.jade",
        "jadefiles/beauty-pic-ncc/beauty-pic-ncc-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "collection-detail-2.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/collection-detail-2/collection-detail-2-breadcrumb.jade",
        "jadefiles/collection-detail-2/collection-detail-2-showcase.jade",
        "jadefiles/home/home-popular.jade",
        "jadefiles/home/home-share.jade",
        "jadefiles/home/home-tag.jade",
        "jadefiles/home/home-calendar.jade",
        "jadefiles/home/home-sale.jade",
        "jadefiles/home/home-subscribe.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "register.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/register/register-breadcrumb.jade",
        "jadefiles/register/register-showcase.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "register-ncc.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/register-ncc/register-ncc-breadcrumb.jade",
        "jadefiles/register-ncc/register-ncc-showcase.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "login.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/login/login-breadcrumb.jade",
        "jadefiles/login/login-showcase.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account/account-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/account/account-main.jade",
        "jadefiles/account/account-bottom.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account-album.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account-album/account-album-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/account-album/account-album-main.jade",
        "jadefiles/account-album/account-album-bottom.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account-promotion.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account-promotion/account-promotion-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/account-promotion/account-promotion-main.jade",
        "jadefiles/account-album/account-album-bottom.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account-manage-album.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account-album/account-album-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/account-manage-album/account-manage-album-main.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account-manage-promotion.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account-album/account-album-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/account-manage-promotion/account-manage-promotion-main.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account-price-list.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account-album/account-album-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/account-price-list/account-price-list-main.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "password-change.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/password-change/password-change-breadcrumb.jade",
        "jadefiles/account/account-sidebar.jade",
        "jadefiles/password-change/password-change-main.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "account-info.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/account-info/account-info-breadcrumb.jade",
        "jadefiles/account-info/account-info-sidebar.jade",
        "jadefiles/account-info/account-info-main.jade",
        "jadefiles/home/home-footer.jade"
      ]
    },
    {
      "path": "password-change-info.jade",
      "imports": [
        "jadefiles/header-global.jade",
        "jadefiles/post-video/post-video-carousel.jade",
        "jadefiles/home/home-search.jade",
        "jadefiles/password-change/password-change-breadcrumb.jade",
        "jadefiles/password-change-info/password-change-info-sidebar.jade",
        "jadefiles/password-change/password-change-main.jade",
        "jadefiles/home/home-footer.jade"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7892,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}