section.home-showcase.promotion-showcase.promotion-detail.share-showcase
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='beauty-pic-detail.html')
          img.media-object(src='assets/img/promotion/promotion_1.png', alt='...')
        a(href="beauty-pic-detail.html"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        .margin-box-1
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_2.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong THIỆP CƯỚI DAWNIE GIẢM GIÁ 10% CHO TOÀN BỘ CÁI MẪU THIỆP MỚI
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_3.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong TẶNG BỘ MÂM QUÀ CAO CẤP KHI ĐẶT GÓI TRANG TRÍ LỄ GIA TIÊN
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_4.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong TRĂNG MẬT LÃNG MẠN TUYỆN VỜI BÊN CẠNH GÓI KHUYẾN MÃI THÁNG 7
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_5.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_6.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong Đưa thiên nhiên vào trong đám cưới tại Capella Gallery Hall
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_7.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_8.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_9.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong Đưa thiên nhiên vào trong đám cưới tại Capella Gallery Hall
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_10.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
              
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/beauty-pic/beauty-pic_1.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong Đưa thiên nhiên vào trong đám cưới tại Capella Gallery Hall
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/beauty-pic/beauty-pic_2.png', alt='...')
        a(href="#"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        .post-video-showcase-metadata
          small.text-grey
            | 27.07.2017  |   27  Lượt xem
          small.text-grey
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
  
  .pagination-wrap.text-center
    nav(aria-label='Page navigation')
      ul.pagination
        li
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        |     
        li.active
          a(href='#') 1
        |     
        li
          a(href='#') 2
        |     
        li
          a(href='#') 3
        |     
        li
          a(href='#') 4
        |     
        li
          a(href='#') 5
        |     
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
