section.home-showcase
  .owl-carousel.owl-theme.showcase-global
    .item.home-showcase-wrap
      a(href="collection-detail.html")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        
      a.home-showcase-title.text-uppercase(href="collection-detail.html"): h3
        strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      small.home-showcase-date 27. 07 . 2017   
        span.divine-2 |
        | 112 Lượt xem
      p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
      
    .item.home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Áo Cưới
        
      a.home-showcase-title.text-uppercase(href="#"): h3
        strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      small.home-showcase-date 27. 07 . 2017   
        span.divine-2 |
        | 112 Lượt xem
      p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
      
    .item.home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Váy Cưới
        
      a.home-showcase-title.text-uppercase(href="#"): h3
        strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      small.home-showcase-date 27. 07 . 2017   
        span.divine-2 |
        | 112 Lượt xem
      p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
  
  .row.post-list-content
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='collection-detail.html')
                img.media-object(src='assets/img/post-list/showcase/showcase_1.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
                
          .col-md-8      
            a(href="collection-detail.html"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
  
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_2.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
                  
          .col-md-8  
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
            
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_3.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_4.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_5.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_1.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_2.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_3.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_4.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_5.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
          
    .col-md-12
      .media
        .row
          .col-md-4
            .post-list-wrap
              a(href='#')
                img.media-object(src='assets/img/post-list/showcase/showcase_1.png', alt='...')
                p.home-showcase-wrap-title.text-uppercase Cầu Hôn
                  
          .col-md-8 
            a(href="#"): h4.media-heading.text-uppercase
              strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
            small.home-showcase-date 27. 07 . 2017   
              span.divine-2 |
              | 09 Views
            .margin-box-1
            p South Korea’s foreign minister says he's confident that the U.S. will consult Seoul before taking action against North Korea. Satellite imagery analyzed by U.S. researchers shows activity on and ...
    
  
  .pagination-wrap.text-center
    nav(aria-label='Page navigation')
      ul.pagination
        li
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        |     
        li.active
          a(href='#') 1
        |     
        li
          a(href='#') 2
        |     
        li
          a(href='#') 3
        |     
        li
          a(href='#') 4
        |     
        li
          a(href='#') 5
        |     
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
