section.account-album.password-change.account-info.margin-box-5
  .account-main-content.account-main-albumn
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong THÔNG TIN TÀI KHOẢN
    .account-main-content-primary.account-main-albumn-primary.password-change-primary.account-info-primary
      .password-change-primary-form.account-info-primary-form
        .row
          .col-md-6
            .form-group
              label Tên người dùng
              input.form-control(type="text", placeholder="Mộc Thanh Studio")
                
            .form-group
              label Chọn khu vực
              select.form-control.selectpicker(data-live-search="true" title="Chọn khu vực")
                option Mustard
                option Ketchup
                option Relish

            .form-group
              label Số điện thoại
              input.form-control(type="tel", placeholder="1800181818")
                
          .col-md-6
            .form-group
              label Email đăng nhập
              input.form-control(type="meail", placeholder="Mộc Thanh Studio")
                
            .form-group
              input(type="checkbox") 
              |  Nhận tin khuyến mãi
              
              .margin-box-1
              input(type="checkbox") 
              |  Nhận bản tin hàng tuần
              
            a.btn.btn-accent.text-uppercase.pull-right(href="#") CẬP NHẬT
        
