section.account-manage-album.margin-box-5
  .account-main-content.account-main-albumn
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong QUẢN LÝ ALBUM ẢNH
    .account-manage-album-primary
      ul.account-manage-album-primary-nav.list-unstyled
        li
          .row
            .col-sm-12.col-md-6
              p: strong BỘ ẢNH KỶ NIỆM 10 NĂM NGÀY CƯỚI CỦA CẶP ĐÔI THANH và THU
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
              
        li    
          .row
            .col-sm-12.col-md-6
              p: strong BỘ ẢNH KỶ NIỆM 10 NĂM NGÀY CƯỚI CỦA CẶP ĐÔI THANH và THU
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
        li  
          .row
            .col-sm-12.col-md-6
              p: strong BỘ ẢNH KỶ NIỆM 10 NĂM NGÀY CƯỚI CỦA CẶP ĐÔI THANH và THU
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
        li  
          .row
            .col-sm-12.col-md-6
              p: strong BỘ ẢNH KỶ NIỆM 10 NĂM NGÀY CƯỚI CỦA CẶP ĐÔI THANH và THU
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
