$navbar-bg: #2d2d2d;
$accent-color: #ab132d;
$white-color: #ffffff;
$primary-color: #e55b71;

// Text Color
$text-color: #303030;
$text-color1: #d0d0d0;
$text-color2: #999999;
$text-color3: #555555;
$text-color4: #797071;
$text-color5: #bebebe;

// Button Color
$btn-bg: #363a3b;
$tag-bg: #f9f9f9;
$social-bg: #e5e5e5;

// Border Color
$border-color: #ebebeb;
