section.account-manage-album.margin-box-5
  .account-main-content.account-main-albumn
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong QUẢN LÝ TIN KHUYẾN MÃI
    .account-manage-album-primary
      ul.account-manage-album-primary-nav.list-unstyled
        li
          .row
            .col-sm-12.col-md-6
              p: strong Gói combo Wedding “Biển xanh vẫy gọi” kết hợp 02 Tour Biển chỉ với 8.600.000 VNĐ
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
              
        li    
          .row
            .col-sm-12.col-md-6
              p: strong Ưu đãi gói chụp Phim trường Mộc Thanh Quận 7
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
        li  
          .row
            .col-sm-12.col-md-6
              p: strong Chụp prewedding giảm 50% gói chụp tiệc và quay phim
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
        li  
          .row
            .col-sm-12.col-md-6
              p: strong Chụp ảnh cưới - Khuyến mãi đặc biệt tháng 8
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA

        li  
          .row
            .col-sm-12.col-md-6
              p: strong Gói chụp ảnh cưới chuyên nghiệp - tự nhiên 
            .col-sm-6.col-md-2
              small.text-grey.pull-right
                | 17 
                i.fa.fa-eye(aria-hidden='true')
                |  | 08 
                i.fa.fa-comments(aria-hidden='true')
            .col-sm-6.col-md-4
              a.btn.btn-grey.text-uppercase(href="#") Xóa
              .margin-box-1.hidden-lg
              a.btn.btn-accent.text-uppercase(href="#") CHỈNH SỬA
