section.account-sidebar
  .row
    .col-md-12
      .account-sidebar-avatar
        img(src="assets/img/account/avatar-1.png", alt="")
          
        .account-sidebar-avatar-info
          a(href="#") 
            i.fa.fa-camera(aria-hidden='true')
            span Thay đổi ảnh đại diện
          
        .margin-box  
        
    .col-md-12
      .account-sidebar-list
        ul.list-group(role="tablist")
          li.list-group-item: a(href="account-info.html")
            svg#Layer_1.thongtin-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve' class="icon-account")
              g
                g
                  g
                    path(d='M469.333,362.667v-256c0-23.531-19.146-42.667-42.667-42.667h-384C19.146,64,0,83.135,0,106.667v256\
                    c0,23.531,19.146,42.667,42.667,42.667h384C450.188,405.333,469.333,386.198,469.333,362.667z M21.333,362.667v-256\
                    c0-11.76,9.563-21.333,21.333-21.333h384c11.771,0,21.333,9.573,21.333,21.333v256c0,11.76-9.563,21.333-21.333,21.333h-384\
                    C30.896,384,21.333,374.427,21.333,362.667z')
                    |             &#x9;&#x9;&#x9;
                    path(d='M501.333,138.667c-5.896,0-10.667,4.771-10.667,10.667v256c0,11.76-9.563,21.333-21.333,21.333h-384\
                    c-5.896,0-10.667,4.771-10.667,10.667c0,5.896,4.771,10.667,10.667,10.667h384C492.854,448,512,428.865,512,405.333v-256\
                    C512,143.438,507.229,138.667,501.333,138.667z')
                    |             &#x9;&#x9;&#x9;
                    path(d='M394.667,298.667h-128c-5.896,0-10.667,4.771-10.667,10.667c0,5.896,4.771,10.667,10.667,10.667h128\
                    c5.896,0,10.667-4.771,10.667-10.667C405.333,303.438,400.563,298.667,394.667,298.667z')
                    |             &#x9;&#x9;&#x9;
                    path(d='M394.667,234.667h-128c-5.896,0-10.667,4.771-10.667,10.667c0,5.896,4.771,10.667,10.667,10.667h128\
                    c5.896,0,10.667-4.771,10.667-10.667C405.333,239.438,400.563,234.667,394.667,234.667z')
                    |             &#x9;&#x9;&#x9;
                    path(d='M394.667,170.667h-128c-5.896,0-10.667,4.771-10.667,10.667c0,5.896,4.771,10.667,10.667,10.667h128\
                    c5.896,0,10.667-4.771,10.667-10.667C405.333,175.438,400.563,170.667,394.667,170.667z')
                    |             &#x9;&#x9;&#x9;
                    path(d='M149.333,234.667C172.854,234.667,192,215.531,192,192s-19.146-42.667-42.667-42.667\
                    c-23.521,0-42.667,19.135-42.667,42.667S125.813,234.667,149.333,234.667z M149.333,170.667c11.771,0,21.333,9.573,21.333,21.333\
                    s-9.563,21.333-21.333,21.333C137.563,213.333,128,203.76,128,192S137.563,170.667,149.333,170.667z')
                    |             &#x9;&#x9;&#x9;
                    path(d='M213.063,261.052c-14.917-7.167-38.063-15.719-63.729-15.719c-25.667,0-48.813,8.552-63.729,15.719\
                    C72.271,267.469,64,280.271,64,294.458v4.875C64,310.729,73.563,320,85.333,320h128c11.771,0,21.333-9.271,21.333-20.667v-4.875\
                    C234.667,280.271,226.396,267.469,213.063,261.052z M213.333,298.667l-128,0.667v-4.875c0-5.917,3.646-11.354,9.521-14.177\
                    c12.917-6.208,32.833-13.615,54.479-13.615c21.646,0,41.563,7.406,54.479,13.615c5.875,2.823,9.521,8.26,9.521,14.177V298.667z')
            |  Thông tin tài khoản
            
          li.list-group-item: a(href="password-change-info.html")
            svg#Layer_1.icon-account(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
              path(d='M230.792,354.313l-6.729,60.51c-0.333,3.01,0.635,6.031,2.656,8.292c2.021,2.26,4.917,3.552,7.948,3.552h42.667\
              c3.031,0,5.927-1.292,7.948-3.552c2.021-2.26,2.99-5.281,2.656-8.292l-6.729-60.51c10.927-7.948,17.458-20.521,17.458-34.313\
              c0-23.531-19.135-42.667-42.667-42.667S213.333,296.469,213.333,320C213.333,333.792,219.865,346.365,230.792,354.313z\
              M256,298.667c11.76,0,21.333,9.573,21.333,21.333c0,8.177-4.646,15.5-12.125,19.125c-4.073,1.979-6.458,6.292-5.958,10.781\
              l6.167,55.427h-18.833l6.167-55.427c0.5-4.49-1.885-8.802-5.958-10.781c-7.479-3.625-12.125-10.948-12.125-19.125\
              C234.667,308.24,244.24,298.667,256,298.667z')
              |             &#x9;&#x9;&#x9;
              path(d='M437.333,192h-32v-42.667C405.333,66.99,338.344,0,256,0S106.667,66.99,106.667,149.333V192h-32\
              C68.771,192,64,196.771,64,202.667v266.667C64,492.865,83.135,512,106.667,512h298.667C428.865,512,448,492.865,448,469.333\
              V202.667C448,196.771,443.229,192,437.333,192z M128,149.333c0-70.583,57.417-128,128-128s128,57.417,128,128V192h-21.333\
              v-42.667c0-58.813-47.854-106.667-106.667-106.667S149.333,90.521,149.333,149.333V192H128V149.333z M341.333,149.333V192\
              H170.667v-42.667C170.667,102.281,208.948,64,256,64S341.333,102.281,341.333,149.333z M426.667,469.333\
              c0,11.76-9.573,21.333-21.333,21.333H106.667c-11.76,0-21.333-9.573-21.333-21.333v-256h341.333V469.333z')
            | Đổi mật khẩu
        
