section.account-price-list.margin-box-5
  .account-main-content
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong NHẬN BÁO GIÁ
    .account-manage-album-primary.account-price-list-primary
      ul.list-unstyled
        li
          .row.account-price-list-primary-padding
            .col-sm-6.col-md-6
              .row
                .col-md-12
                  h4.text-uppercase: strong HUỲNH MINH TRUNG
                  
                .col-md-12
                  ul.account-manage-album-primary-nav-sub.list-unstyled
                    li
                      span.text-grey Số điện thoại : 
                      span 0123345675
                      
                    li
                      span.text-grey Email : 
                      span Huynhminhtrung@gmail.com
                      
                    li
                      span.text-grey Ngày cưới dự kiến :
                      span không có
                      
                    li
                      span.text-grey Đăng ký báo giá tại :  
                      span Chụp preview giảm 50% gói chụp tiệc và quay phim
            
            .margin-box-2.visible-xs          
            .col-sm-6.col-md-6
              .row
                .col-md-12
                  a.btn.btn-grey.pull-right.text-uppercase(href="#") Xóa
                
                .clearfix.visible-xs  
                .col-md-12
                  ul.account-manage-album-primary-nav-sub.list-unstyled
                    li
                      span.text-grey Lời nhắn : 
                      
                    li
                      span Mình muốn được báo giá các hạng mục áo cưới trong tháng 9 sắp tới. Với chi phí trang điểm công dâu. phí thuê phim trường.
          
        li
          .row.account-price-list-primary-padding
            .col-sm-6.col-md-6
              .row
                .col-md-12
                  h4.text-uppercase: strong NGUYỄN HẠNH NGUYÊN
                  
                .col-md-12
                  ul.account-manage-album-primary-nav-sub.list-unstyled
                    li
                      span.text-grey Số điện thoại : 
                      span 0123345675
                      
                    li
                      span.text-grey Email : 
                      span Nguyennguyen@gmail.com
                      
                    li
                      span.text-grey Ngày cưới dự kiến :
                      span 02.06.2018
                      
                    li
                      span.text-grey Đăng ký báo giá tại :  
                      span Mộc Thanh Studio
            
            .margin-box-2.visible-xs           
            .col-sm-6.col-md-6
              .row
                .col-md-12
                  a.btn.btn-grey.pull-right.text-uppercase(href="#") Xóa
                  
                .clearfix.visible-xs  
                .col-md-12
                  ul.account-manage-album-primary-nav-sub.list-unstyled
                    li
                      span.text-grey Lời nhắn : 
                      
                    li
                      span Mình muốn được báo giá các hạng mục áo cưới trong tháng 9 sắp tới. Với chi phí trang điểm công dâu. phí thuê phim trường.
                      
        li
          .row.account-price-list-primary-padding
            .col-sm-6.col-md-6
              .row
                .col-md-12
                  h4.text-uppercase: strong TRẦN TIẾT THỊNH
                  
                .col-md-12
                  ul.account-manage-album-primary-nav-sub.list-unstyled
                    li
                      span.text-grey Số điện thoại : 
                      span 0123345675
                      
                    li
                      span.text-grey Email : 
                      span Trantietthinh@gmail.com
                      
                    li
                      span.text-grey Ngày cưới dự kiến :
                      span không có
                      
                    li
                      span.text-grey Đăng ký báo giá tại :  
                      span Chụp preview giảm 50% gói chụp tiệc và quay phim
            
            .margin-box-2.visible-xs            
            .col-sm-6.col-md-6
              .row
                .col-md-12
                  a.btn.btn-grey.pull-right.text-uppercase(href="#") Xóa
                  
                .clearfix.visible-xs  
                .col-md-12
                  ul.account-manage-album-primary-nav-sub.list-unstyled
                    li
                      span.text-grey Lời nhắn : 
                      
                    li
                      span Mình muốn được báo giá các hạng mục áo cưới trong tháng 9 sắp tới. Với chi phí trang điểm công dâu. phí thuê phim trường.
                      
    .account-price-list-pagination
      .pagination-wrap.text-center
        nav(aria-label='Page navigation')
          ul.pagination
            li
              a(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li.active
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;
      
