.breadcrumb-wrap
  .container
    ol.breadcrumb.breadcrumb-1.text-uppercase
      li
        a(href='#') Trang chủ
      li
        a(href='#') ẢNH CƯỚI ĐẸP
      li.active
        a(href='#') BỘ ẢNH CƯỚI KỶ NIỆM 10 NĂM TUYỆT ĐẸP TẠI ĐẢO KHỈ
    
