section.account-main.margin-box-5
  .account-main-content
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong THÔNG TIN gian hàng
    .account-main-content-primary
      .row
        form
          .col-md-6
            .form-group
              label Tên thương hiệu
              input.form-control(type="text" placeholder="Mộc Thanh Studio") 
            
            .form-group  
              label Chọn khu vực
              select.selectpicker.form-control(data-live-search="true" title="Chọn khu vực")
                option Mustard
                option Ketchup
                option Relish
            
            .form-group  
              label Địa chỉ
              input.form-control(type="text" placeholder="123 Huỳnh Lan Khanh, q5, Hồ Chí Minh") 
            
            .form-group  
              label Địa chỉ khác
              input.form-control(type="text" placeholder="145 Huỳnh Văn Bánh, q3, Hồ Chí Minh") 
            
            .form-group  
              label Facebook
              input.form-control(type="text" placeholder="Facebook.com/mocthanhcute") 
                
          .col-md-6
            .form-group
              label Email đăng nhập
              input.form-control(type="email" placeholder="mocthanh@gmail.com") 
            
            .form-group  
              label Website
              input.form-control(type="text" placeholder="mocthanhstudio.com.vn") 
            
            .form-group  
              label Số điện thoại
              input.form-control(type="tel" placeholder="1800181818") 
            
            .form-group  
              label Email liên hệ
              input.form-control(type="email" placeholder="mocthanh@gmail.com") 
            
            .form-group  
              label Google
              input.form-control(type="text") 
          
          .col-md-12      
            .form-group
              label Giới thiệu ngắn
              textarea.form-control(rows="3" placeholder="Là một trong những photographer đầu tiên của Việt Nam chụp tại nước ngoài, Lucas đã thực hiện hơn 200 bộ ảnh cưới tuyệt đẹp tại Paris. Sau nhiều năm, Lucas quyết định mở studio ảnh cưới mang tên Mộc Thanh.")
              .margin-box-1
              cite.text-grey Giới thiệu ngắn tốt nhất khoảng 100 từ.
            
            .form-group
              label Giới thiệu
              textarea.form-control(rows="6" placeholder="Là một trong những photographer đầu tiên của Việt Nam chụp tại nước ngoài, Lucas đã thực hiện hơn 200 bộ ảnh cưới tuyệt đẹp tại Paris. Sau nhiều năm, Lucas quyết định mở studio ảnh cưới mang tên Mộc Thanh ở quận Phú Nhuận, HCM.")
              .margin-box-1
              cite.text-grey Giới thiệu tốt nhất khoảng 300 từ.
              
          .col-md-6
            .form-group  
              label Dịch vụ chính
              select.selectpicker.form-control(data-live-search="true" title="Chụp ảnh cưới")
                option Mustard
                option Ketchup
                option Relish
            .form-group
              .row    
                .col-md-12
                  .album-wrap
                    input.form-control(type="text" placeholder="2.000.000") 
                    span.album Album
  
            .form-group  
              label Dịch vụ khác
              select.selectpicker.form-control(data-live-search="true" title="Chọn dịch vụ")
                option Mustard
                option Ketchup
                option Relish
            .form-group    
              .row    
                .col-md-12
                  .album-wrap
                    input.form-control(type="text" placeholder="Nhập giá dịch vụ... ") 
                    span.album Đơn vị
                
          .col-md-6
            .form-group  
              label Dịch vụ khác
              select.selectpicker.form-control(data-live-search="true" title="Chọn dịch vụ")
                option Mustard
                option Ketchup
                option Relish
            .form-group    
              .row    
                .col-md-12
                  .album-wrap
                    input.form-control(type="text" placeholder="Nhập giá dịch vụ...") 
                    span.album Đơn vị
                
            .form-group  
              label Dịch vụ khác
              select.selectpicker.form-control(data-live-search="true" title="Chọn dịch vụ")
                option Mustard
                option Ketchup
                option Relish
            .form-group    
              .row    
                .col-md-12
                  .album-wrap
                    input.form-control(type="text" placeholder="Nhập giá dịch vụ...") 
                    span.album Đơn vị
          
  .account-main-pic
    .account-main-pic-header
      h3.text-accent.text-uppercase
        strong HÌNH ẢNH GIỚI THIỆU GIAN HÀNG
        
    .account-main-pic-primary
      cite.text-grey.text-center(style="display: block;") Dung lượng hình ảnh phải nhỏ hơn 3M.
      
      .margin-box-2
        
      .row
        .col-sm-3.col-md-3
          a(href="#"): img.upload-btn(src="assets/img/account/account_1.png", alt="")
            
        .col-sm-3.col-md-3
          img(src="assets/img/account/account_2.png", alt="")
            
        .col-sm-3.col-md-3
          img(src="assets/img/account/account_3.png", alt="")
            
        .col-sm-3.col-md-3
          img(src="assets/img/account/account_4.png", alt="")
      
      .margin-box-2     
      .row
        .col-sm-3.col-md-3
          img(src="assets/img/account/account_5.png", alt="")
            
        .col-sm-3.col-md-3
          img(src="assets/img/account/account_6.png", alt="")
        .col-sm-3.col-md-3
        .col-sm-3.col-md-3
    
