section.home-showcase.promotion-showcase
  .owl-carousel.owl-theme.showcase-global
    .item.home-showcase-wrap
      a(href="promotion-detail.html")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        
      a.home-showcase-title.text-uppercase(href="promotion-detail.html"): h3
        strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      small.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
      p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
      
    .item.home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Áo Cưới
        
      a.home-showcase-title.text-uppercase(href="#"): h3
        strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      small.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
      p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
      
    .item.home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Váy Cưới
        
      a.home-showcase-title.text-uppercase(href="#"): h3
        strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      small.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
      p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
  
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='promotion-detail.html')
          img.media-object(src='assets/img/promotion/promotion_1.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="promotion-detail.html"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address Trung Tâm Tiệc Cưới Hội Nghị Melisa Center
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_2.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong THIỆP CƯỚI DAWNIE GIẢM GIÁ 10% CHO TOÀN BỘ CÁI MẪU THIỆP MỚI
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address dawnie
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_3.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong TẶNG BỘ MÂM QUÀ CAO CẤP KHI ĐẶT GÓI TRANG TRÍ LỄ GIA TIÊN
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address WEDDINGSTYLE
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_4.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong TRĂNG MẬT LÃNG MẠN TUYỆN VỜI BÊN CẠNH GÓI KHUYẾN MÃI THÁNG 7
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address LOCO RESORT
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_5.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address Trung Tâm Tiệc Cưới Hội Nghị Melisa Center
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_6.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong Đưa thiên nhiên vào trong đám cưới tại Capella Gallery Hall
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address HẢI YẾN JEWWELRY
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_7.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address NHÀ HÀNG TIỆC CƯỚI CANTARELLA
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_8.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong 9 ý tưởng trang trí tiệc cưới ngoài trời độc đáo
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address Trung Tâm Tiệc Cưới Hội Nghị Melisa Center
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_9.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong Đưa thiên nhiên vào trong đám cưới tại Capella Gallery Hall
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address LONG AN JEWELRY
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_10.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase Cầu Hôn
        a(href="#"): h4.media-heading.text-uppercase
          strong SIÊU KHUYẾN MÃI CƯỚI CHO THÁNG 7 TƯƠI XANH
        small.home-showcase-date 27.07.2017   -  15.08.2017
        .margin-box-1
        p.text-uppercase.showcase-address THU LAN jewelry
  
  .pagination-wrap.text-center
    nav(aria-label='Page navigation')
      ul.pagination
        li
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        |     
        li.active
          a(href='#') 1
        |     
        li
          a(href='#') 2
        |     
        li
          a(href='#') 3
        |     
        li
          a(href='#') 4
        |     
        li
          a(href='#') 5
        |     
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
