section.account-album.password-change.margin-box-5
  .account-main-content.account-main-albumn
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong ĐỔI MẬT KHẨU
    .account-main-content-primary.account-main-albumn-primary.password-change-primary
      .password-change-primary-form
        .row
          .col-md-8.col-md-push-2
            .row
              .col-md-5
                label(style="margin-top: 10px;") Mật khẩu hiện tại
              .col-md-7
                .form-group
                  input.form-control(type="password")
                    
            .row
              .col-md-5
                label(style="margin-top: 10px;") Mật khẩu mới
              .col-md-7
                .form-group
                  input.form-control(type="password")
                    
            .row
              .col-md-5
                label(style="margin-top: 10px;") Nhập lại mật khẩu mới
              .col-md-7
                .form-group
                  input.form-control(type="password")
                    
            .margin-box-2        
            .row        
              a.btn.btn-accent.btn-block.text-uppercase(href="#" style="margin: 0 auto; width: 220px;") Đổi Mật Khẩu
        
