section.register-showcase.register-ncc-showcase
  .container
    .show-all
      h2.text-uppercase.text-accent.text-center
        strong Đăng ký thành viên
      small.text-grey.text-center(style="display: block"): strong Bạn đã có tài khoản kênh cưới ?
       a(href="").text-accent  Đăng nhập ngay
    
    .margin-box
    .row
      .col-md-6
        .row
          .register-showcase-wrap-form
            .col-md-12
              .row
                .col-md-4
                  label Tên thương hiệu
                .col-md-8
                  .form-group
                    input.form-control(type="text")
                    
            .col-md-12
              .row
                .col-md-4
                  label Email đăng nhập
                .col-md-8
                  .form-group
                    input.form-control(type="email")
                    
            .col-md-12
              .row
                .col-md-4
                  label Mật Khẩu
                .col-md-8
                  .form-group
                    input.form-control(type="password")
                    
            .col-md-12
              .row
                .col-md-4
                  label Nhập lại mật khẩu
                .col-md-8
                  .form-group
                    input.form-control(type="password")
                    
      .col-md-6
        .row
          .register-showcase-wrap-form
            .col-md-12
              .row
                .col-md-4
                  label Chọn khu vực
                .col-md-8
                  .form-group
                    select.form-control.selectpicker(data-live-search="true" title="Chọn tỉnh thành")
                      option Mustard
                      option Ketchup
                      option Relish
                    
            .col-md-12
              .row
                .col-md-4
                  label Địa  chỉ cụ thể
                .col-md-8
                  .form-group
                    input.form-control(type="text")
                    
            .col-md-12
              .row
                .col-md-4
                  label Chọn dịch vụ chính
                .col-md-8
                  .form-group
                    select.form-control.selectpicker(data-live-search="true" title="Chọn dịch vụ")
                      option Mustard
                      |   
                      option Ketchup
                      |   
                      option Relish
                    
            .col-md-12
              .row
                .col-md-4
                .col-md-8
                  p.text-grey Các dịch vụ khác, nhà cung cấp được quyền bổ sung sau khi đăng ký tài khoản thành công.
    
    .margin-box-3
    .col-md-6.col-md-push-3
      a.btn.btn-accent.btn-block.text-uppercase(href="#") Đăng ký tài khoản nhà cung cấp
      .margin-box-2
      small.text-grey.text-center(style="display: block"): strong Khi nhấn nút đăng ký nghĩa là bạn đã đồng ý với 
       a(href="#").text-accent  điều khoản sử dụng 
       | của Kênh Cưới
