section.home-sale
  .row
    .col-xs-6.col-sm-3
      .home-sale-box
        a(href="#")
          img(src="assets/img/home/sale/sale_1.png", alt="")
    .col-xs-6.col-sm-3
      .home-sale-box
        a(href="#")
          img(src="assets/img/home/sale/sale_2.png", alt="")
    .clearfix.visible-xs
    .margin-box-2.visible-xs
    .col-xs-6.col-sm-3
      .home-sale-box
        a(href="#")
          img(src="assets/img/home/sale/sale_3.png", alt="")
    .col-xs-6.col-sm-3
      .home-sale-box
        a(href="#")
          img(src="assets/img/home/sale/sale_4.png", alt="")
