section.home-search
  .container
    .row
      .col-md-12.home-search-wrap
        .col-md-3.col
          h4.home-search-wrap-title.text-accent TÌM KIẾM 
            strong NHÀ CUNG CẤP
        .col-md-3.col
          form
            .form-group
              input.form-control(type="text", placeholder="Nhập từ khóa...")
        .col-md-2.col
          form
            .form-group
              select.selectpicker.form-control(title='Chọn dịch vụ cưới')
                option Hoa cưới
                option Nhà hàng tiệc cưới
                option Quà cưới
                option Studio ảnh cưới
                option Thiệp cưới
                option Trăng mật
                option Trang sức cưới
                option Wedding Planner
                
        .col-md-2.col
          form
            .form-group
              select.selectpicker.form-control(title='Chọn khu vực')
                option Name
                |   
                option Tag
                |   
                option Price
        .col-md-2.col
          a.btn.btn-accent.text-uppercase(href="#") Tìm Ngay
        
      
            
        
