section.home-carousel
  .home-carousel-wrap
    img.lace(src="assets/img/home/ren4.svg", alt="")
    img.lace.lace-bottom(src="assets/img/home/ren.svg", alt="")
    .owl-carousel.owl-theme.home-carousel-wrap-carousel
      .item
        img(src="assets/img/home/home-carousel.png", alt="")
        .home-carousel-wrap-carousel-title
          a(href="#").text-uppercase
            strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      .item
        img(src="assets/img/home/home-carousel.png", alt="")
        .home-carousel-wrap-carousel-title
          a(href="#").text-uppercase
            strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      .item
        img(src="assets/img/home/home-carousel.png", alt="")
        .home-carousel-wrap-carousel-title
          a(href="#").text-uppercase
            strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
      
