section.home-gallery
  .box-title
    h4.text-uppercase
      strong ẢNH CƯỚI ĐẸP
      
  .margin-box
    
  .owl-carousel.owl-theme.home-gallery-carousel
    .item(data-hash="1")
      img(src="assets/img/home/gallery/gallery_1.png", alt="")
      .home-gallery-carousel-content
        a(href="#"): h3.text-uppercase CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
        small.home-showcase-date 27. 07 . 2017   
          span.divine-2 |
          | 112 Lượt xem

    .item(data-hash="2")
      img(src="assets/img/home/gallery/gallery_1.png", alt="")
      .home-gallery-carousel-content
        a(href="#"): h3.text-uppercase CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
        small.home-showcase-date 27. 07 . 2017   
          span.divine-2 |
          | 112 Lượt xem
    
    .item(data-hash="3")
      img(src="assets/img/home/gallery/gallery_1.png", alt="")
      .home-gallery-carousel-content
        a(href="#"): h3.text-uppercase CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
        small.home-showcase-date 27. 07 . 2017   
          span.divine-2 |
          | 112 Lượt xem
        
    .item(data-hash="4")
      img(src="assets/img/home/gallery/gallery_1.png", alt="")
      .home-gallery-carousel-content
        a(href="#"): h3.text-uppercase CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
        small.home-showcase-date 27. 07 . 2017   
          span.divine-2 |
          | 112 Lượt xem
          
  .owl-carousel.owl-theme.home-gallery-direction
    .item
      a.url(href='#1')
        img(src="assets/img/home/gallery/gallery_2.png", alt="")
    .item
      a.url(href='#2')
        img(src="assets/img/home/gallery/gallery_3.png", alt="")
    .item
      a.url(href='#3')
        img(src="assets/img/home/gallery/gallery_4.png", alt="")
    .item
      a.url(href='#4')
        img(src="assets/img/home/gallery/gallery_5.png", alt="")
          
  .margin-box
  .show-all
    a(href="#"): h5.text-uppercase
      strong Xem Tất Cả
