footer.footer
  .container
    .row
      .col-sm-4.col-md-4
        h3.text-uppercase THÔNG TIN LIÊN HỆ
        
        .margin-box
          
        p Kênh Cưới là một website tổng hợp thông tin tiếng Việt hoàn toàn được điều khiển tự động bởi máy tính. Mỗi ngày gần 6500 tin tức từ gần 200 nguồn chính thức của các báo điện tử và trang tin điện tử Việt Nam.
          
        nav
          ul.footer-nav.list-unstyled
            li 
              i.fa.fa-map-marker.text-accent(aria-hidden='true')  
              span  747 Lạc Long Quân, P.10, Quận Tân Bình, TP.HCM
            li 
              i.fa.fa-home.text-accent(aria-hidden='true')  
              span  Tòa nhà Prime, 37 Hoàng Văn Thụ, P.15, Quận Phú Nhuận, TP.HCM
            li 
              i.fa.fa-phone.text-accent(aria-hidden='true')  
              span  kenhcuoi.vn@gmail.com
            li 
              i.fa.fa-envelope-open.text-accent(aria-hidden='true')  
              span  0906.495.200 - 0904.509.550
              

      .col-sm-4.col-md-4
        h3.text-uppercase DỊCH VỤ
        
        .margin-box
        nav
          ul.footer-nav.footer-nav-service.list-unstyled
            li: a(href="")
              i.fa.fa-angle-double-right(aria-hidden='true')
              span  Đăng ký quảng cáo banner
            li: a(href="") 
              i.fa.fa-angle-double-right(aria-hidden='true')  
              span  Dịch vụ quảng cáo bài PR
            li: a(href="") 
              i.fa.fa-angle-double-right(aria-hidden='true') 
              span  Dịch vụ quảng cáo nhà tài trợ
              
        .margin-box
        h3.text-uppercase KẾT NỐI VỚI CHÚNG TÔI
        
        .margin-box-3
        ul.footer-social.list-unstyled
          li: a(href="")
            i.fa.fa-facebook(aria-hidden='true') 
          li: a(href="")
            i.fa.fa-twitter(aria-hidden='true') 
          li: a(href="")
            i.fa.fa-google-plus(aria-hidden='true') 
          li: a(href="")
            i.fa.fa-envelope(aria-hidden='true') 
          
              
      .col-sm-4.col-md-4.footer-connect
        h3.text-uppercase KẾT NỐI VỚI CHÚNG TÔI
        
        .margin-box
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_1.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_2.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_3.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_4.png", alt="")
        .clearfix.visible-xs
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_5.png", alt="")
        
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_6.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_7.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_8.png", alt="")
        .col-xs-6.col-sm-4.col-md-4.padding-off-1
          .footer-wrap-box
            a(href="#"): img(src="assets/img/home/footer/footer_9.png", alt="")
              
  .margin-box            
  .footer-copyright
    .container
      .row
        .col-sm-12.col-md-6
          p.copycat &copy Copyright 2017 Kênh cưới by Eplus.
        .clearfix.visible-sm
        .col-sm-12.col-md-6.text-right
          ul.copyright-nav.list-unstyled.text-uppercase
            li: a(href="#") GIỚI THIỆU
            li: a(href="#") LIÊN HỆ
            li: a(href="#") ĐIỀU KHOẢN SỬ DỤNG 
            li: a(href="#") CÂU HỎI THƯỜNG GẶP
            
