section.home-promotion
  .box-title
    h4.text-uppercase
      strong Khuyến Mãi Cưới
      
  .margin-box
  
  .row
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_1.png", alt="")
        h5.text-uppercase DIAMOND PLACE II - Nơi tình yêu thăng hoadream
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_2.png", alt="")
        h5.text-uppercase BÙNG NỔ KHUYẾN MÃI "KHỦNG" DÀNH CHO TIỆC CƯỚI MÙA HÈ
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_3.png", alt="")
        h5.text-uppercase TOP 4 NHÀ HÀNG ƯU ĐÃI TỐT NHẤT NĂM 2017
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_4.png", alt="")
        h5.text-uppercase  TOP 4 NHÀ HÀNG CÓ PHONG CÁCH ẤN TƯỢNG NHẤT NĂM 2017
        
  .row
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_5.png", alt="")
        h5.text-uppercase Đưa thiên nhiên vào trong đám cưới tại Capella Gallery Hall
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_6.png", alt="")
        h5.text-uppercase Đầu tiên và duy nhất tại Metropole - HOÀN TIỀN 50%ing
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_7.png", alt="")
        h5.text-uppercase TRẢI NGHIỆM CHẤT LƯỢNG DỊCH VỤ TẠI METROPOLE VỚI " TIỆC THỬ MÓN "
    .col-xs-6.col-md-3
      a(href="#")
        img(src="assets/img/home/promotion/promotion_8.png", alt="")
        h5.text-uppercase Ưu đãi gói chụp ảnh cưới lên đến 40%
        
  .margin-box
  .show-all
    a(href="#"): h5.text-uppercase
      strong Xem Tất Cả
