section.home-sidebar
  a(href="#")
    img(src="assets/img/home/ads/ads-1.png", alt="")
  a(href="#")
    img(src="assets/img/home/ads/ads-2.png", alt="")
  a(href="#")
    img(src="assets/img/home/ads/ads-3.png", alt="")
  a(href="#")
    img(src="assets/img/home/ads/ads-4.png", alt="")
  a(href="#")
    img(src="assets/img/home/ads/ads-5.png", alt="")
      
