section.home-idea.home-collection
  .row
    .col-md-6
      .box-title
        h4.text-uppercase
          strong Bộ Sưu Tập Cưới
          
    .col-md-6.padding-off
      nav.navbar-small
        ul.navbar-small-ul.list-unstyled.text-uppercase
          li: a(href="#") Áo Dài Cưới
          li: a(href="#") Áo Vest
          li: a(href="#") Kiểu Khác
          li: a.dropdown-toggle(href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Xem Thêm 
            i.fa.fa-angle-down(aria-hidden='true')
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li
                a(href='#') Kiểu Khác
              li
                a(href='#') Áo Vest
              li
                a(href='#') Áo Dài Cưới
              li
                a(href='#') Áo Vest
                
  .margin-box
  .home-showcase              
    .home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Áo Dài Cưới
        
    a.home-showcase-title.text-uppercase(href="#"): h3
      strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
    small.home-showcase-date 27. 07 . 2017   
      span.divine-2 |
      | 112 Lượt xem
    p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
  
    .row
      .col-md-6
        .media
          .media-left
            a(href='#')
              img.media-object(src='assets/img/home/idea/idea_1.png', alt='...')
          |   
          .media-body
            p.media-title.text-primary.text-uppercase
              strong ÁO VEST
            a(href="#"): h4.media-heading.text-uppercase
              strong Váy cưới ngắn bồng bềnh cho nàng tiểu thư
            
        .media
          .media-left
            a(href='#')
              img.media-object(src='assets/img/home/idea/idea_2.png', alt='...')
          |   
          .media-body
            p.media-title.text-primary.text-uppercase
              strong kiểu khác
            a(href="#"): h4.media-heading.text-uppercase
              strong Váy cưới ngắn bồng bềnh cho nàng tiểu thư
          
      .col-md-6
        .media
          .media-left
            a(href='#')
              img.media-object(src='assets/img/home/idea/idea_3.png', alt='...')
          |   
          .media-body
            p.media-title.text-primary.text-uppercase
              strong váy đuôi cá
            a(href="#"): h4.media-heading.text-uppercase
              strong Váy cưới ngắn bồng bềnh cho nàng tiểu thư
            
        .media
          .media-left
            a(href='#')
              img.media-object(src='assets/img/home/idea/idea_4.png', alt='...')
          |   
          .media-body
            p.media-title.text-primary.text-uppercase
              strong váy lệch vai
            a(href="#"): h4.media-heading.text-uppercase
              strong Váy cưới ngắn bồng bềnh cho nàng tiểu thư
              
  .margin-box
  .show-all
    a(href="#"): h5.text-uppercase
      strong Xem Tất Cả
