section.home-video
  .box-title
    h4.text-uppercase
      strong VIDEO NỔI BẬT
      
  .margin-box
    
  .row
    .col-md-6
      .home-video-wrap
        iframe(width='560', height='315', src='https://www.youtube.com/embed/XRuDQ6aYeD0?ecver=1', frameborder='0', allowfullscreen='')
      .col-md-12
        h4.text-uppercase.home-video-title
          strong Beautiful In White- Bản nhạc không thể thiếu trong ngày hôn lễ
        span.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
        
    .col-md-6
      .row
        .col-md-12
          .media
            .media-left
              a(href='#')
                img.media-object(src="assets/img/home/video/video_1.png", alt="")
            .media-body
              a(href="#"): h4.media-heading.text-uppercase LỄ HỘI CƯỚI QUEEN DAY 2016 - VÙNG ĐẤT NGUYỆN CẦU
              span.home-showcase-date 27. 07 . 2017   |   112 Lượt xem

        .col-md-12
          .media
            .media-left
              a(href='#')
                img.media-object(src="assets/img/home/video/video_2.png", alt="")
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Lễ hội cưới – Queen’s Day
              span.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
              
        .col-md-12
          .media
            .media-left
              a(href='#')
                img.media-object(src="assets/img/home/video/video_3.png", alt="")
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Đám cưới ngôn tình của Văn Anh - Tú Vi
              span.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
              
        .col-md-12
          .media
            .media-left
              a(href='#')
                img.media-object(src="assets/img/home/video/video_4.png", alt="")
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Đám cưới ĐẸP NHƯ MƠ của Văn THÁI - CẨM Tú
              span.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
  
  .show-all
    a(href="#"): h5.text-uppercase
      strong Xem Tất Cả
