section.home-subscribe
  .home-subscribe-wrap
    .home-subscribe-wrap-box
      .row
        .col-md-6
          h3.text-uppercase
            strong ĐĂNG KÝ NHẬN TIN
          h4.text-uppercase
            strong ĐỂ ĐƯỢC NHẬN TIN TỪ KÊNH CƯỚI SỚM NHẤT
        .col-md-4
          form
            .form-group
              input.form-control(type="text" placeholder="Nhập email của bạn...")
        .col-md-2
          a.btn.btn-accent.btn-block.text-uppercase(href="#") Đăng Ký
