section.home-showcase
  .home-showcase-wrap
    a(href="#")
      img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
    p.home-showcase-wrap-title.text-uppercase Tin Tức
      
  a.home-showcase-title.text-uppercase(href="#"): h3
    strong CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
  small.home-showcase-date 27. 07 . 2017   |   112 Lượt xem
  p.home-showcase-content Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...
  
  .row
    .col-md-6
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/showcase/showcase-1.png', alt='...')
        |   
        .media-body
          a(href="#"): h4.media-heading.text-uppercase
            strong Banks’ incentives for first-home
          small.home-showcase-date June 27, 2017   |   09 Views
          
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/showcase/showcase-2.png', alt='...')
        |   
        .media-body
          a(href="#"): h4.media-heading.text-uppercase
            strong New discount player muscles into Aussie sports retail
          small.home-showcase-date June 27, 2017   |   09 Views
        
    .col-md-6
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/showcase/showcase-3.png', alt='...')
        |   
        .media-body
          a(href="#"): h4.media-heading.text-uppercase
            strong Weird reason missing cargo ship Stellar Daisy may have
          small.home-showcase-date June 27, 2017   |   09 Views
          
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/showcase/showcase-4.png', alt='...')
        |   
        .media-body
          a(href="#"): h4.media-heading.text-uppercase
            strong How big tobacco hooks millennials
          small.home-showcase-date June 27, 2017   |   09 Views 
    
  .margin-box
  a(href="#")
    img.home-showcase-thumb(src="assets/img/home/showcase/just-marry.png", alt="")
