section.home-service
  .box-title
    h4.text-uppercase
      strong Dịch Vụ Cưới
      
  .margin-box
      
  //- .row
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_1.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img.as(src="assets/img/home/service/hoacuoi.svg", alt="")
  //-           h4.text-uppercase HOA CƯỚI
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_2.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img(src="assets/img/home/service/nhahangtieccuoi.svg", alt="")
  //-           h4.text-uppercase nhà hàng tiệc cưới
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_3.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img(src="assets/img/home/service/quacuoi.svg", alt="")
  //-           h4.text-uppercase QUÀ CƯỚI
  //-   
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_4.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img(src="assets/img/home/service/studio.svg", alt="")
  //-           h4.text-uppercase STUDIO ẢNH CƯỚI
  //-             
  //- 
  //- .row
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_5.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img(src="assets/img/home/service/thiepcuoi.svg", alt="")
  //-           h4.text-uppercase THIỆP CƯỚI
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_6.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img(src="assets/img/home/service/trangmat.svg", alt="")
  //-           h4.text-uppercase TRĂNG MẬT
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_7.png", alt="")
  //-       .home-service-overlay
  //-         a(href="#")
  //-           img(src="assets/img/home/service/circle-lace.png", alt="")
  //-           img(src="assets/img/home/service/nhancuoi.svg", alt="")
  //-           h4.text-uppercase TRANG SỨC CƯỚI
  //-   .col-xs-6.col-sm-6.col-md-3.padding-off
  //-     .home-service-wrap
  //-       img.home-service-thumb(src="assets/img/home/service/service_8.png", alt="")
  //-       .home-service-overlay
  //-         img(src="assets/img/home/service/circle-lace.png", alt="")
  //-         img(src="assets/img/home/service/weddingplanner.svg", alt="")
  //-         h4.text-uppercase WEDDING PLANNER
  //-         
    .clearfix
  .row
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_1.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/hoacuoi.svg", alt="")
          h4.text-uppercase HOA CƯỚI
          .home-service-overlay
          
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_2.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/nhahangtieccuoi.svg", alt="")
          h4.text-uppercase nhà hàng tiệc cưới
          .home-service-overlay
          
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_3.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/quacuoi.svg", alt="")
          h4.text-uppercase QUÀ CƯỚI
          .home-service-overlay
          
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_4.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/studio.svg", alt="")
          h4.text-uppercase STUDIO ẢNH CƯỚI
          .home-service-overlay
          
  .row
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_5.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/thiepcuoi.svg", alt="")
          h4.text-uppercase THIỆP CƯỚI
          .home-service-overlay
          
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_6.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/trangmat.svg", alt="")
          h4.text-uppercase TRĂNG MẬT
          .home-service-overlay
          
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_7.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/nhancuoi.svg", alt="")
          h4.text-uppercase TRANG SỨC CƯỚI
          .home-service-overlay
          
    .col-xs-12.col-sm-6.col-md-3.padding-off
      a(href="#")
        .home-service-wrap
          img.home-service-thumb(src="assets/img/home/service/service_8.png", alt="")
          img.home-service-lace(src="assets/img/home/service/circle-lace.png", alt="")
          img.home-service-icon(src="assets/img/home/service/weddingplanner.svg", alt="")
          h4.text-uppercase WEDDING PLANNER
          .home-service-overlay
          
    
  .margin-box
  a(href="#")
    img.home-showcase-thumb(src="assets/img/home/showcase/just-marry.png", alt="")
