section.home-tag
  .box-title-1
    h4.text-uppercase.text-accent
      strong TỪ KHÓA TÌM KIẾM 
      
  .margin-box-2
  .home-tag-wrap
    a.btn.btn-tag.text-uppercase(href="#") Áo Cưới
    a.btn.btn-tag.text-uppercase(href="#") CHỤP ẢNH CƯỚI
    a.btn.btn-tag.text-uppercase(href="#") phụ kiện
    a.btn.btn-tag.text-uppercase(href="#") TỔ CHỨC TIỆC
    a.btn.btn-tag.text-uppercase(href="#") KHUYẾN MÃI
    a.btn.btn-tag.text-uppercase(href="#") GÓC CHIA SẺ
    a.btn.btn-tag.text-uppercase(href="#") ĐỊA ĐIỂM CƯỚI
    a.btn.btn-tag.text-uppercase(href="#") Ý TƯỞNG CƯỚI
    a.btn.btn-tag.text-uppercase(href="#") QUÀ CƯỚI
    a.btn.btn-tag.text-uppercase(href="#") VIDEO
    a.btn.btn-tag.text-uppercase(href="#") NGHI THỨC
