section.home-popular.home-share
  .box-title-1
    h4.text-uppercase.text-accent
      strong Góc Chia Sẻ
      
  .margin-box
  .row
    .col-md-12
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/popular/popular_1.png', alt='...')
        |   
        .media-body
          a(href="#"): h5.media-heading.text-uppercase
            strong 6 ý tưởng chụp ảnh cưới KHÔNG ĐỤNG HÀNG
          small.home-popular-date
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
            
    .col-md-12
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/popular/popular_2.png', alt='...')
        |   
        .media-body
          a(href="#"): h5.media-heading.text-uppercase
            strong 20 điều kiêng kị trong ngày Tết – Nàng dâu mới phải biết!
          small.home-popular-date
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
            
    .col-md-12
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/popular/popular_3.png', alt='...')
        |   
        .media-body
          a(href="#"): h5.media-heading.text-uppercase
            strong Thời đại thay đổi, tình yêu có đổi thay...
          small.home-popular-date
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
            
    .col-md-12
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/popular/popular_4.png', alt='...')
        |   
        .media-body
          a(href="#"): h5.media-heading.text-uppercase
            strong Kinh nghiệm để phong bì lì xì cho nàng dâu mới
          small.home-popular-date
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
            
    .col-md-12
      .media
        .media-left
          a(href='#')
            img.media-object(src='assets/img/home/popular/popular_5.png', alt='...')
        |   
        .media-body
          a(href="#"): h5.media-heading.text-uppercase
            strong 10 điều nên làm dịp Tết để cả năm may mắn
          small.home-popular-date
            | 27 
            i.fa.fa-heart(aria-hidden='true')
            |  | 112 
            i.fa.fa-comment(aria-hidden='true')
            
  .margin-box-1
  .show-all-1
    a(href="#"): h5.text-uppercase
      strong Xem Tất Cả
      
