.breadcrumb-wrap
  .container
    ol.breadcrumb.breadcrumb-1.text-uppercase
      li
        a(href='#') Trang chủ
      li
        a(href='#') Video
      li.active
        a(href='#') Beautiful In White- Bản nhạc không thể thiếu trong ngày hôn lễ
    
