section.home-showcase.promotion-showcase.service-showcase
  .owl-carousel.owl-theme.showcase-global
    .item.home-showcase-wrap
      a(href="service-detail.html")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Nhà Hàng Tiệc Cưới
        
      a.home-showcase-title.text-uppercase(href="service-detail.html"): h3
        strong TRUNG TÂM TIỆC CƯỚI HỘI NGHỊ MELISA CENTER
      ol.breadcrumb.breadcrumb-4
        li
          a(href='#') 6,000,000 VNĐ
        |   
        li.active
          a(href='#') Bàn
      p.home-showcase-content 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM
      
    .item.home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Nhà Hàng Tiệc Cưới
        
      a.home-showcase-title.text-uppercase(href="#"): h3
        strong TRUNG TÂM TIỆC CƯỚI HỘI NGHỊ MELISA CENTER
      ol.breadcrumb.breadcrumb-4
        li
          a(href='#') 6,000,000 VNĐ
        |   
        li.active
          a(href='#') Bàn
      p.home-showcase-content 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM
      
    .item.home-showcase-wrap
      a(href="#")
        img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      p.home-showcase-wrap-title.text-uppercase Nhà Hàng Tiệc Cưới
        
      a.home-showcase-title.text-uppercase(href="#"): h3
        strong TRUNG TÂM TIỆC CƯỚI HỘI NGHỊ MELISA CENTER
      ol.breadcrumb.breadcrumb-4
        li
          a(href='#') 6,000,000 VNĐ
        |   
        li.active
          a(href='#') Bàn
      p.home-showcase-content 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM
      
  a(href="#")
    img.home-showcase-thumb(src="assets/img/service/service-ads.png", alt="")
      
  .margin-box
  
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='service-detail.html')
          img.media-object(src='assets/img/promotion/promotion_1.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase TRANG SỨC CƯỚI
        a(href="service-detail.html"): h4.media-heading.text-uppercase
          strong TRUNG TÂM TIỆC CƯỚI HỘI NGHỊ HAI LÚA
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bàn
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_2.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase THIỆP CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong THIỆP CƯỚI DAWNIE
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 1,000 VNĐ
          |   
          li.active
            a(href='#') Thiệp
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_3.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase WEDDING PLANNER
        a(href="#"): h4.media-heading.text-uppercase
          strong WEDDINGSTYLE
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bộ
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_4.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase TRĂNG MẬT
        a(href="#"): h4.media-heading.text-uppercase
          strong LOCO RESORT
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 25,000,000 VNĐ
          |   
          li.active
            a(href='#') Tour
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_5.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase TRANG SỨC CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong HẢI YẾN JEWELRY
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bộ
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_6.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase NHÀ HÀNG TIỆC CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong NHÀ HÀNG TIỆC CƯỚI CANTARELLA
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bàn
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_7.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase TRANG SỨC CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong LONG AN JEWELRY
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bộ
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_8.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase HOA CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong HOA CƯỚI CASALANA
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bó
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
  .row.post-list-content
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_9.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase NHÀ HÀNG TIỆC CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong NHÀ HÀNG TIỆC CƯỚI HOÀNG LAN
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 5,000,000 VNĐ
          |   
          li.active
            a(href='#') Bàn
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
        
    .col-sm-6.col-md-6
      .post-list-wrap
        a(href='#')
          img.media-object(src='assets/img/promotion/promotion_10.png', alt='...')
          p.home-showcase-wrap-title.text-uppercase TRANG SỨC CƯỚI
        a(href="#"): h4.media-heading.text-uppercase
          strong THU LAN JEWELRY
        ol.breadcrumb.breadcrumb-4
          li
            a(href='#') 16,000,000 VNĐ
          |   
          li.active
            a(href='#') Bộ
        p.home-showcase-content Số 6 ngõ 63 Nguyễn Cao, Hai Bà Trưng, Hà Nội
  
  .pagination-wrap.text-center
    nav(aria-label='Page navigation')
      ul.pagination
        li
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        |     
        li.active
          a(href='#') 1
        |     
        li
          a(href='#') 2
        |     
        li
          a(href='#') 3
        |     
        li
          a(href='#') 4
        |     
        li
          a(href='#') 5
        |     
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
