section.home-carousel
  .home-carousel-wrap
    img.lace-shadow(src="assets/img/home/ren-shadow.png", alt="")
    img.lace-shadow(src="assets/img/home/ren-shadow-bottom.png", alt="")
    .home-carousel-wrap-carousel1
      img(src="assets/img/carousel-bg.png", alt="")
      .container
        h3.text-uppercase.carousel-title Dịch Vụ Cưới
