section.post-video-showcase.promotion-detail
  .post-video-showcase-wrap
    a(href="#")
      img.home-showcase-thumb(src="assets/img/home/home-showcase.png", alt="")
      
    a.home-showcase-title.text-uppercase(href="#"): h4
      strong Chụp prewedding giảm 50% gói chụp tiệc và quay phim
  
  .post-video-showcase-metadata
    p.text-accent.text-uppercase
      strong STUDIO   |   Thời gian khuyến mãi : 27.07.2017 - 27.08.2017
    small.home-popular-date
      | 27 
      i.fa.fa-eye(aria-hidden='true')
      |  | 27 
      i.fa.fa-heart(aria-hidden='true')
      |  | 112 
      i.fa.fa-comment(aria-hidden='true')
    
  .promotion-detail-info
    .row
      .col-md-9
        .media
          .media-left
            a(href='#')
              img.media-object(src='assets/img/promotion-detail/info.png', alt='...')
          |   
          .media-body
            h5.media-heading.text-uppercase
              strong MỘC THANH STUDIO
            .margin-box-2.visible-sm.visible-xs
            ul.list-unstyled
              li 
                i.fa.fa-map-marker.text-accent(aria-hidden='true')
                span  45A Nguyễn Thông, Phường 7, Quận 3, Hồ Chí Minh
              li 
                i.fa.fa-phone.text-accent(aria-hidden='true')
                span   028 3933 37 36 – 0934718668

      .col-md-3
        a.btn.btn-accent-1.btn-block.text-uppercase(data-toggle="modal" data-target="#service-detail-modal") Nhận Báo Giá
        
        
      // Modal
      #service-detail-modal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="myModalLabel")
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              img.modal-lace(src="assets/img/ren.png", alt="")
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              |           
              h4.modal-title.text-uppercase.text-accent.text-center
                strong Đăng ký nhận báo giá
            |         
            .modal-body
              .row
                form
                  .col-md-6
                    .form-group
                      label.text-uppercase Tên Của Bạn
                      input.form-control(type="text") 
                      
                  .col-md-6
                    .form-group
                      label.text-uppercase Số Điện Thoại Của Bạn
                      input.form-control(type="tel")  
                      
              .row
                form
                  .col-md-6
                    .form-group
                      label.text-uppercase Email Của Bạn
                      input.form-control(type="email") 
                      
                  .col-md-6
                    .form-group
                      label.text-uppercase Ngày Cưới Dự Kiến
                      input.form-control(type="date")      
                      
              .checkbox
                label
                  input(type='checkbox')
                  |  Chưa xác định ngày cưới
                  
              .margin-box-2    
              form
                .form-group
                  label.text-uppercase Lời Nhắn
                  textarea.form-control(type="text" rows="3") 
                      
            .modal-footer
              button.btn.btn-accent.text-uppercase(type='button') Gửi
              img.modal-lace-footer(src="assets/img/ren.png", alt="")
        
  .margin-box-1
  .post-video-showcase-content
    p.text-indent
      strong 	Trải qua 4 năm hoạt động và phát triển, Metropole tự hào khi được quý khách hàng tin tưởng, yêu mến và lựa chọn để trở thành nơi chứng kiến ngày trọng đại trong cuộc đời lứa đôi, là nơi chắp cánh cho hạnh phúc lứa đôi.
      
    .post-video-showcase-morelink
      ul.post-video-showcase-morelink-nav
        li: a(href="#") Gói chụp ảnh cưới chuyên nghiệp - tự nhiên - nghệ thuật
        li: a(href="#") Gói combo Wedding "Biển xanh vẫy gọi" siêu tiết kiệm chỉ với với 8.600.000 VNĐ
        li: a(href="#") Chụp hình cưới trọn gói giá rẻ chỉ 2.990.000đ – Tại phim trường Mini Xinh Xinh
        li: a(href="#") Dịch vụ chụp ảnh ăn hỏi đám cưới, chụp ảnh phóng sự cưới-MTP Studio
  
    p Một Lễ Hội Cưới với chủ đề Vùng Đất Nguyện Cầu với quy mô hoành tráng sẽ được diễn ra vào ngày 9 & 10 tháng 7 năm 2016 tại Queen Plaza Kỳ Hòa – 16A Lê Hồng Phong, P12, Quận 10, TP.HCM với hàng loạt chương trình đặc sắc sẽ mang đến cho khách tham quan những trải nghiệm vô cùng tuyệt vời và thú vị.
    p Trung tâm Hội nghị & Tiệc cưới Metropole – được phát triển và điều hành bởi nhà quản lý chuỗi khách sạn, nhà hàng Quê Hương – Liberty Group danh tiếng tại Sài Gòn. Metropole tọa lạc tại đường Lý Chính Thắng, quận 3 – là một trong những vị trí thuận lợi cho tổ chức tiệc cưới.
    p Thành lập vào ngày 16 tháng 5 năm 2012. Đến nay, trải qua 4 năm hoạt động và phát triển, Metropole nhận được nhiều sự tin tưởng của các cặp đôi bởi chất lượng dịch vụ tốt, món ăn ngon, trang trí đẹp.
    p Nhắc đến Trung tâm hội nghị tiệc cưới  Metropole là nhắc đến sự uy tín và sự tin tưởng tuyệt đối từ các cặp đôi sắp cưới tại TP.HCM.
    
  .post-video-showcase-tag
    p.post-video-showcase-tag-tags
      strong Tags: 
      a(href="#") Đám cưới, 
      a(href="") Video, 
      a(href="") Hôn lễ

    .post-video-showcase-tag-wrap.text-right
      span.post-video-showcase-tag-social
        strong Share  
      ul.footer-social.list-unstyled
        li: a(href="")
          i.fa.fa-facebook(aria-hidden='true') 
        li: a(href="")
          i.fa.fa-twitter(aria-hidden='true') 
        li: a(href="")
          i.fa.fa-google-plus(aria-hidden='true') 
      
  .margin-box-2
  a(href="#")
    img.home-showcase-thumb(src="assets/img/home/showcase/just-marry.png", alt="")
    
  .margin-box-2
  .post-video-showcase-relate    
    .box-title-1
      h4.text-uppercase.text-accent
        strong KHUYẾN MÃI KHÁC
        
    .row
      .margin-box-3
      .col-sm-6.col-md-3
        a(href="#"): img(src="assets/img/promotion-detail/promotion-detail_1.png", alt="")
        a(href="#"): h5.text-uppercase 6 ý tưởng chụp ảnh cưới KHÔNG ĐỤNG HÀNG
        small.home-showcase-date 27.07.2017  |   27  Lượt xem
        
      .col-sm-6.col-md-3
        a(href="#"): img(src="assets/img/promotion-detail/promotion-detail_2.png", alt="")
        a(href="#"): h5.text-uppercase 6 ý tưởng chụp ảnh cưới KHÔNG ĐỤNG HÀNG
        small.home-showcase-date 27.07.2017  |   27  Lượt xem
        
      .clearfix.visible-sm
      .col-sm-6.col-md-3
        a(href="#"): img(src="assets/img/promotion-detail/promotion-detail_3.png", alt="")
        a(href="#"): h5.text-uppercase 6 ý tưởng chụp ảnh cưới KHÔNG ĐỤNG HÀNG
        small.home-showcase-date 27.07.2017  |   27  Lượt xem
        
      .col-sm-6.col-md-3
        a(href="#"): img(src="assets/img/promotion-detail/promotion-detail_4.png", alt="")
        a(href="#"): h5.text-uppercase 6 ý tưởng chụp ảnh cưới KHÔNG ĐỤNG HÀNG
        small.home-showcase-date 27.07.2017  |   27  Lượt xem
        
    .margin-box    
    .show-all
      a(href="#"): h5.text-uppercase
        strong Xem Tất Cả
        
  .margin-box      
  .post-video-showcase-comment    
    .box-title-1
      h4.text-uppercase.text-accent
        strong BÌNH LUẬN
        span.text-grey ( 23 )
        
    ol.breadcrumb.breadcrumb-2.text-uppercase
      li.text-accent(href='#') BÌNH LUẬN 
      li.text-grey(href='#') BÌNH LUẬN BẰNG FACEBOOK
    
    .post-video-showcase-comment-write
      .media
        .media-left
          a(href='#')
            img.avatar.media-object(src='assets/img/post-video/avatar/avatar_1.png', alt='...')
        |   
        .media-body
          form
            .form-group
              textarea.form-control(type="text" placeholder="Viết bình luận...")
          a.btn.btn-accent.text-uppercase(href="#") Đăng nhận xét
          
    .margin-box-3      
    hr
    .post-video-showcase-comment-detail
      .media
        .media-left
          a(href='#')
            img.avatar.media-object(src='assets/img/post-video/avatar/avatar_2.png', alt='...')
        |   
        .media-body
          h4.text-uppercase
            strong Huỳnh Minh Trung
          p.post-video-showcase-comment-detail-date
            strong.text-accent 2 
              i.fa.fa-heart(aria-hidden='true')
            |  |   06.08.2017  15:45
          p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
          ol.breadcrumb.breadcrumb-3
            li
              a(href='#') Thích
            li
              a(href='#') Phản hồi
              
          .media
            .media-left
              a(href='#')
                img.avatar.media-object(src='assets/img/post-video/avatar/avatar_3.png', alt='...')
            |   
            .media-body
              h4.text-uppercase
                strong NGUYỄN HẠNH NGUYÊN
              p.post-video-showcase-comment-detail-date
                strong.text-accent 2 
                  i.fa.fa-heart(aria-hidden='true')
                |  |   06.08.2017  15:45
              p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
              ol.breadcrumb.breadcrumb-3
                li
                  a(href='#') Thích
                li
                  a(href='#') Phản hồi
                  
      .media
        .media-left
          a(href='#')
            img.avatar.media-object(src='assets/img/post-video/avatar/avatar_4.png', alt='...')
        |   
        .media-body
          h4.text-uppercase
            strong TRẦN TIẾT THỊNH
          p.post-video-showcase-comment-detail-date
            strong.text-accent 2 
              i.fa.fa-heart(aria-hidden='true')
            |  |   06.08.2017  15:45
          p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
          ol.breadcrumb.breadcrumb-3
            li
              a(href='#') Thích
            li
              a(href='#') Phản hồi
              
        .media
          .media-left
            a(href='#')
              img.avatar.media-object(src='assets/img/post-video/avatar/avatar_5.png', alt='...')
          |   
          .media-body
            h4.text-uppercase
              strong PHẠM THÔNG
            p.post-video-showcase-comment-detail-date
              strong.text-accent 2 
                i.fa.fa-heart(aria-hidden='true')
              |  |   06.08.2017  15:45
            p.post-video-showcase-comment-detail-content For me, it all comes down to better listening skills, which start with asking better questions. Open-ended questions about customers' likes, dislikes, and especially customers' feelings related to our products, are the things most likely to tell us how we're doing relative to out comes and not simply output.
            ol.breadcrumb.breadcrumb-3
              li
                a(href='#') Thích
              li
                a(href='#') Phản hồi
              

  a.text-uppercase.btn.btn-accent.btn-block.btn-more(href="#") Tải Thêm Bình Luận
            

          
 
