section.account-main.margin-box-5.account-album
  .account-main-content.account-main-albumn
    .account-main-content-header
      h3.text-uppercase.text-accent.text-center
        strong Album Ảnh
    .account-main-content-primary.account-main-albumn-primary
      .row
        form
          .col-md-12
            .form-group
              label Tiêu đề
              input.form-control(type="text" placeholder="Tháng vàng ngập tràn ưu đãi") 
              
      label Ảnh đại diện album ảnh
      .clearfix
      a.btn.btn-accent.text-uppercase(href="#") Chọn File  
      .clearfix.visible-xs.visible-sm
      .margin-box-1.visible-xs.visible-sm
      span.text-grey ( Không có file nào được chọn )
      
      .margin-box-1
      img.album-thumb(src="assets/img/account/album.png", alt="")
      
      .margin-box-3
      .row  
        .col-md-12      
          .form-group
            label Giới thiệu ngắn
            textarea.form-control(rows="3" placeholder="Một đám cưới ấn tượng với những dịch vụ cưới cao cấp, sang trọng bậc nhất luôn là điều mơ ước của mỗi cô dâu, và “ Luxury Wedding Day “ chính là nơi biến giấc mơ của bạn thành hiện ")
            .margin-box-1
            cite.text-grey Giới thiệu ngắn tốt nhất khoảng 100 từ.
          
          .form-group
            label Nội dung
            textarea.form-control(rows="14" placeholder="Là một trong những photographer đầu tiên của Việt Nam chụp tại nước ngoài, Lucas đã thực hiện hơn 200 bộ ảnh cưới tuyệt đẹp tại Paris. Sau nhiều năm, Lucas quyết định mở studio ảnh cưới mang tên Mộc Thanh ở quận Phú Nhuận, HCM.")
            .margin-box-1
              
      .account-main-pic
          label Upload album ảnh
          .clearfix.visible-xs
          cite.text-grey.text-right.pull-right Dung lượng hình ảnh phải nhỏ hơn 3M.
          .clearfix.visible-xs
          
          .margin-box-1
            
          .row
            .col-sm-3.col-md-3
              a(href="#"): img.upload-btn(src="assets/img/account/account_1.png", alt="")
                
            .col-sm-3.col-md-3
              img(src="assets/img/account/account_2.png", alt="")
                
            .col-sm-3.col-md-3
              img(src="assets/img/account/account_3.png", alt="")
                
            .col-sm-3.col-md-3
              img(src="assets/img/account/account_4.png", alt="")
          
          .margin-box-2     
          .row
            .col-sm-3.col-md-3
              img(src="assets/img/account/account_5.png", alt="")
                
            .col-sm-3.col-md-3
              img(src="assets/img/account/account_6.png", alt="")
            .col-sm-3.col-md-3
            .col-sm-3.col-md-3
      
