.home-video {
  h4 {
    line-height: 1.5;
  }

  &-wrap {
    iframe {
      width: 100%;
      max-height: 280px;
    }
  }

  .media {
    margin-bottom: 25px;
  }

  .media-heading {
    color: $text-color4;
    @extend %font-weight;
    transition: all .2s ease-in-out;

    &:hover {
      color: $accent-color;
    }
  }
}
