.home-showcase {
  &-wrap {
    position: relative;

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      color: $white-color;
      padding: 10px 12px;
      background: rgba(black,0.8);
      font-size: 13px;
      font-weight: 600;
    }
  }

  &-thumb {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &-title {
    color: $text-color;


    &:hover {
      color: $accent-color;
    }

    h3 {
      font-size: 19px;
      margin: 20px 0;
    }
  }

  &-date {
    color: $text-color1;
  }

  &-content {
    color: $text-color2;
    margin: 15px 0 20px;
  }

  .media {

    .media-left {
      padding-right: 20px;
    }

    .media-heading {
      font-size: 16px;
      line-height: 1.3;
    }

    a {
      color: $text-color;
      transition: all .2s ease-in-out;

      &:hover {
        color: $accent-color;
      }
    }

    small {
      color: $text-color2;
    }
  }

}
